html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Graphik;
}

#Page1 {
    background-image: url('./Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    margin-left: 15%;
    height: 20%;
    width: 80%;
    align-items: center;
}

#menu {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

#FigmaIcon {
    width: 246px;
    height: 78px;
    left: calc(50% - 246px/2 + 0.5px);
    top: calc(50% - 78px/2);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
}

#sns {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

#page1-center {
    display: flex;
    margin: 20px 0 0 80px;
    justify-content: center;
}

#page1-h1 {
    font-family: Graphik;
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    padding: 0px 50px 0 50px;
}

#page1-h4 {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    padding: 0px 80px 0 80px;
}

#page1-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 826px;
    height: 335px;
    align-self: center;
    margin: 40px 0px;
}

#btnBlue {
    width: 150px;
    display: flex;
    align-items: center;
    padding: 16px 0px;
    justify-content: center;
    background: #2091F9;
    color: #FFFFFF;
    border-radius: 35px;
    flex: none;
    margin: 50px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

#feature {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

#feature-title {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    /* identical to box height, or 115% */
    text-align: center;
    letter-spacing: 0.2px;
    /* text */
    color: #252B42;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.footer-text {
    color: #FFFFFF;
    margin-top: 15px;
}

#Pricing {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #252B42;
}

#footer {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-around;
    align-items: flex-start;
}

#h4-content {
    padding-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* second text */
    color: #374754;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

#price-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

#Contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

#Contact-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 453px;
    height: 669px;
    margin: 50px 0px;
    border: solid lightgray 1px;
}

.price-p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.price-p2 {
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

#price-0 {
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    line-height: 84px;
    /* identical to box height, or 114% */
    letter-spacing: 0.2px;
    /* text */
    color: #252B42;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* second text */
    color: #374754;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

#page3 {
    display: flex;
    flex-direction: row;
    margin: 100px 28% 50px 28%;
}

#page4 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 200px 10% 50px 10%;
}

#feature-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#proto-left {
    margin-left: 10%;
}

#Email {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#client {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

.client-content {
    border: black 1px dotted;
}

#Email-input {
    height: 50px;
    padding: 19px 20px;
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    margin: 0px 12px
}

.center-div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.center-div-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

#address-box {
    display: flex;
    flex-direction: column;
    margin: 15px 15px 15px 50px;
}

#address-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-div {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

h5 {
    padding-top: 15px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height, or 144% */
    letter-spacing: 0.1px;
    /* second text */
    color: #374754;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    /* or 115% */
    letter-spacing: 0.2px;
    /* text */
    color: #252B42;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    text-align: center;
    letter-spacing: 0.1px;
    /* text */
    color: #252B42;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#blue-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 83px 40px;
    width: 335px;
    height: 693px;
    /* Primary */
    background: #2091F9;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin: 0px 50px;
}

.light-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 335px;
    height: 607px;
    /* light background */
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin: 0px 50px;
}

#video-image {
    display: flex;
    justify-content: center;
}

p {
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    text-align: center;
    letter-spacing: 0.2px;
    /* second text */
    color: #374754;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

#contact-detail {
    display: flex;
    flex-direction: column;
}